<div class="panel panel-default node-panel">
  <div class="panel-heading">
    <h3 class="panel-title text-center"><% lang('All Nodes') %></h3>
  </div>

  <div class="panel-body remove-padding-vertically remove-padding-bottom">
  <dl class="dl-horizontal">
    <% @nodes.each do |parent| %>
          <dt><%= parent.name %></dt>
          <dd>
            <ul class="list-inline">
              <% parent.childs.each do |child_node| %>
                <li>
                  <%=link_to child_node.name, child_node %>
                </li>
              <% end%>
            </ul>
          </dd>
          <div class="divider"></div>    
    <% end %>
  </dl>
  </div>
</div>