<div class="ribbon">
  <div class="ribbon-excellent" style="<%=display_style(topic.is_excellent?) %>" >
      <i class="fa fa-trophy"></i> <%= lang('site.This topic has been mark as Excenllent Topic') %>
  </div>
  <div class="ribbon-wiki" style="<%=display_style(topic.is_wiki?) %>" >
      <i class="fa fa-graduation-cap"></i> <%= lang('site.This is a Community Wiki') %>
  </div>
</div>
