<div class="users-show">

  <div class="col-md-3 box" style="padding: 15px 15px;">
    <%= render "basicinfo" %>
  </div>

  <div class="main-col col-md-9 left-col">

    <% if @user.ban? %>
      <div class="text-center alert alert-info"><b><%= lang('site.This user is banned!') %></b></div>
    <%end%>

    <%= yield %>

  </div>
</div>